body {
    background-color: lightsalmon;
    text-align: center;
    font-family: Arial;
}

#loginBox {
    background-color: blanchedalmond;
    width: 350px;
    margin: auto;
    margin-top: 120px;
    padding: 30px;
    border-radius: 10px;
}

input {
    width: 80%;
    padding: 8px;
}

button {
    padding: 8px 15px;
    background-color: cadetblue;
    color: white;
    border: none;
    cursor: pointer;
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

#message {
    margin-top: 15px;
    font-weight: bold;
}